<script src="${ctx.contextPath}/static/libs/jquery.min.js"></script>
<script src="${ctx.contextPath}/static/libs/bootstrap.min.js"></script>
<script src="${ctx.contextPath}/static/plugins/layer/layer.js"></script>
<script src="${ctx.contextPath}/static/libs/vue.min.js"></script>
<script src="${ctx.contextPath}/static/plugins/ztree/jquery.ztree.all.min.js"></script>
<!--
<script src="${ctx.contextPath}/static/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="${ctx.contextPath}/static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
-->
<script src="${ctx.contextPath}/static/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="${ctx.contextPath}/static/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="${ctx.contextPath}/static/plugins/treegrid/jquery.treegrid.min.js"></script>
<script src="${ctx.contextPath}/static/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
<script src="${ctx.contextPath}/static/plugins/treegrid/jquery.treegrid.extension.js"></script>
<script src="${ctx.contextPath}/static/plugins/treegrid/tree.table.js"></script>
<script src="${ctx.contextPath}/static/js/common.js"></script>


