<!DOCTYPE html>
<html>
<head>
<title>通用字典</title>
#parse("include/header.html")
</head>
<body>
<div id="WinApp" class="container-fluid" v-cloak>
	<div class="row">
		<div class="col-md-6">
			<div class="btn-toolbar">
				<div class="btn-group">
		            <a v-if="hasPermission('sys:dict:list')" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
		            <a v-if="hasPermission('sys:dict:save')" class="btn btn-default" @click="save"><i class="fa fa-plus"></i>&nbsp;新增</a>
		            <a v-if="hasPermission('sys:dict:edit')" class="btn btn-default" @click="edit"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
		            <a v-if="hasPermission('sys:dict:remove')" class="btn btn-default" @click="remove"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		        </div>
	        </div>
		</div>
	</div>
	<div class="row">
		<table id="dataGrid"></table>
	</div>

	<div id="saveUpdateLayer" class="" style="display: none;padding:10px;">
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label">类型</div>
				<label class="radio-inline">
					<input type="radio" name="type" value="0" v-model="dict.type" /> 目录
				</label>
				<label class="radio-inline">
					<input type="radio" name="type" value="1" v-model="dict.type" /> 参数
				</label>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">名称</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="dict.name" placeholder="目录名称或参数名称" isvalid="yes" checkexpession="NotNull"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">英文代码</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="dict.value" placeholder="类别编码或参数值" isvalid="yes" checkexpession="NotNull"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">参数类型</div>
				<div class="col-sm-10">
					<input type="text" class="form-control pointer" v-model="dict.typeName" @click="dictTree" readonly="readonly" placeholder="一级目录"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">排序</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="dict.orderNum" placeholder="排序" isvalid="yes" checkexpession="NotNull"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">备注</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="dict.remark" placeholder="备注"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">状态</div>
				<label class="radio-inline">
					<input type="radio" name="status" value="0" v-model="dict.status"/> 隐藏
				</label>
				<label class="radio-inline">
					<input type="radio" name="status" value="1" v-model="dict.status"/> 显示
				</label>
			</div>
		</form>
	</div>
</div>
<div class="container-fluid" v-cloak>
	<ul id="dictTree" class="ztree"></ul>
</div>
#parse("include/footer.html")
<script src="${ctx.contextPath}/static/js/modules/base/dict.js"></script>
</body>
</html>