<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wang.wincent.winapp.base.mapper.SysDictMapper">
	
	<select id="countMacroChildren" resultType="int">
		SELECT
			COUNT(*)
		FROM
			sys_dict
		WHERE
			parent_id = #{value}
	</select>
	
	<select id="list" resultType="wang.wincent.winapp.base.entity.SysDictEntity">
		SELECT
			m.dict_id,
			m.parent_id,
			(
				SELECT
					p.name
				FROM
					sys_dict p
				WHERE
					p.dict_id = m.parent_id
			) AS typeName,
			m.name,
			m.value,
			m.status,
			m.type,
			m.remark,
			m.order_num
		FROM
			sys_dict m
		ORDER BY
			m.order_num ASC
	</select>
	
	<select id="listNotDict" resultType="wang.wincent.winapp.base.entity.SysDictEntity">
		SELECT
			dict_id,
			parent_id,
			name,
			value
		FROM
			sys_dict
		WHERE
			type = 0
		ORDER BY
			order_num ASC
	</select>
	
	<insert id="save">
		INSERT INTO sys_dict (
			parent_id,
			name,
			value,
			status,
			type,
			order_num,
			remark,
			gmt_create
		)
		VALUES (
			#{typeId},
			#{name}, 
			#{value}, 
			#{status},
			#{type},
			#{orderNum}, 
			#{remark}, 
			now()
		)
	</insert>
	
	<select id="getObjectById" resultType="wang.wincent.winapp.base.entity.SysDictEntity">
		SELECT
			m.dict_id,
			m.type_id,
			(
				SELECT
					p.name
				FROM
					sys_dict p
				WHERE
					p.macro_id = m.type_id
			) AS typeName,
			m.name,
			m.value,
			m.status,
			m.parent_id,
			m.remark,
			m.order_num
		FROM
			sys_dict m
		WHERE
			m.macro_id = #{macroId}
	</select>
	
	<update id="update">
		UPDATE sys_dict
	 	<set> 
			<if test="typeId != null">parent_id = #{typeId}, </if>
			<if test="name != null">name = #{name}, </if>
			<if test="value != null">value = #{value}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="type != null">type = #{type}, </if>
			<if test="orderNum != null">order_num = #{orderNum}, </if>
			<if test="remark != null">remark = #{remark}, </if>
			gmt_modified = NOW()
		</set>
		WHERE
			dict_id = #{dictId}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			sys_dict
		WHERE
		dict_id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>